@font-face {
	font-family: 'PTSans';
	font-weight:700;
	font-style:normal;
	src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
	font-display:swap;
<<<<<<< HEAD
}
=======
}
>>>>>>> 86251bb4e85b1997d959e7a3d724f82f40635fa0
@font-face {
	font-family: 'PTSans';
	font-weight:400;
	font-style:normal;
	src: url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff");
	font-display:swap;
}
