html,
body {
    height: 100%;
}

body {
    font-family: 'PTSans';
    font-size: 16px;
    line-height: 1.7;
    color: $white;
    background-color: $black1;

    @media (max-width: 1200px) {
        line-height: 1.5;
    }

    @media (max-width: 992px) {
        line-height: 1.4;
    }

    @media (max-width: 768px) {
        line-height: 1.3;
    }

    @media (max-width: 576px) {
        line-height: 1.2;
    }
}

// стили для декора
html.active,
main {
    overflow: hidden;
}

html.active {
    pointer-events: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;

    &--big {
        max-width: 1680px;
    }

    &--slider {
        max-width: 1350px;
        position: relative;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.header-fixed {
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    &__menu {
        object-fit: cover;
        width: 235px;
        height: 75px;

        @media (max-width: 992px) {
            width: 170px;
            height: 55px;
        }
    }
}

.btn {
    border-radius: 4px;
    background-color: $hover;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    color: $white;
    position: relative;
   

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity .5s;
        background-image: linear-gradient(204deg, #2fbeff, #1b70b6);

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &:focus {
        color: $focus;
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }

    &:active {
        color: $active;
    }

    &--standard {
        background-color: $white;
        color: $hover;

        &:before {
            background-color: rgba(0, 0, 0, .1);
            background-image: none;
        }

        &:focus {
            color: $hover;
        }

        &:hover {
            color: $hover;
        }
    }
}

.btn span {
    position: relative;
    z-index: 1;
}

.main {
    flex-grow: 1;
}

.title {
    @include line-height(56, 56, px, );
    margin-bottom: 50px;

    @media (max-width: 1200px) {
        font-size: 48px;
        margin-bottom: 35px;
    }

    @media (max-width: 992px) {
        font-size: 41px;
        margin-bottom: 30px;
    }

    @media (max-width: 768px) {
        font-size: 33px;
        margin-bottom: 25px;
    }

    @media (max-width: 576px) {
        font-size: 26px;
        margin-bottom: 20px;
    }
}

.section {
    padding: 50px 0;
    // @media (max-width: 992px) {
    //     padding: $padding-992 0;
    // }

    // @media (max-width: 768px) {
    //     padding: $padding-768 0;
    // }

    // @media (max-width: 576px) {
    //     padding: $padding-576 0;
    // }
}

.form {
    margin-bottom: 20px;

    &__input {
        border-radius: 4px;
        padding: 6px 10px;
        color: $black2;
        font-size: 14px;
        border: none;

        @media (max-width: 992px) {
            padding: 15px;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }

        &::placeholder {
            color: rgb(118, 118, 118);
        }
    }

    &__btn {
        padding: 8px 33px;

        @media (max-width: 992px) {
            display: inline-grid;
            justify-content: center;
            align-items: center;
            padding: 14px;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__svg {
        display: none;

        @media (max-width: 992px) {
            display: block;
        }
    }
}

.social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 40px;



    @media (max-width: 1200px) {
        gap: 35px;
    }

    @media (max-width: 992px) {
        gap: 30px;
        justify-content: start;
    }

    @media (max-width: 768px) {
        gap: 25px;
    }

    @media (max-width: 576px) {
        gap: 20px;
    }

    &--global {
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 1;
        margin-bottom: 0;

        @media (max-width: 576px) {
            gap: 0;
        }
    }



    &__link {
        background-color: $hover;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        &--call,
        &--telegram {
            background-image: linear-gradient(204deg, #2fbeff, #1b70b6);
            border-radius: 50%;
            width: 56px;
            height: 56px;
        }

        &--telegram {
            animation-name: telegram;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

        }

        &--call {
            display: none;

            @media (max-width: 992px) {
                display: flex;
            }

            @media (max-width: 576px) {
                display: none;
            }
        }
    }
}

@keyframes my-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1deg);
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes telegram {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.swiper-slide {
    height: auto !important;
}

[data-aos='fromOpacity'].aos-animate {
    opacity: 1;
}

[data-aos='fromOpacity'] {
    opacity: 0;

}

[data-aos="userFadeUp"] {
    transform: translateY(25px);
    opacity: 0;
}

[data-aos="userFadeUp"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}