$active:inherit;
$focus:inherit;
$hover:#2fbeff;

$ac: #fcd7b6;
$white: #FFFFFF;
$black: #000000;
$black1: #1b1e27;
$black2: #050512;
$black3: #2c2f3b;
$red:red;
$gray: #808289;
$orange: #ff932f;
$green: #2fff93;
$placeholder: silver;
$btn-menu:#1b1e27;

//section

// $padding-main:50px;
// $padding-1200:50px;
// $padding-992:50px; 
// $padding-768:50px;
// $padding-576:50px;

@mixin line-height($font-size, $line-height, $px, ) {
    line-height: ($line-height / $font-size);
    font-size: ($font-size + $px);
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}
