.about {
    position: relative;

    &__images {
        object-fit: cover;
        position: absolute;
        width: 1080px;
        height: 500px;
        right: -750px;
        bottom: -30px;

        @media (max-width: 1200px) {
            width: 875px;
            height: 405px;
        }

        @media (max-width: 992px) {
            width: 675px;
            height: 310px;
        }

        @media (max-width: 768px) {
            width: 470px;
            height: 220px;
        }

        @media (max-width: 576px) {
            width: 270px;
            height: 125px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        position: relative;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__img {
        height: 680px;
        width: 46%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 16px;
        background-image: url('../images/dist/man.jpg');

        @media (max-width: 992px) {
            width: 50%;
            height: 625px;
        }

        @media (max-width: 768px) {
            height: 300px;
            height: 275px;
            width: 100%;
            background-position: 0 -47px;
        }

        @media (max-width: 576px) {
            background-position: 0 0;
        }
    }

    &__box {
        background-color: $black3;
        padding: 68px 60px 87px;
        width: 54%;
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
        margin-left: auto;
        height: 570px;
        overflow: hidden;

        @media (max-width: 1200px) {
            padding: 50px;
        }

        @media (max-width: 992px) {
            height: 100%;
            padding: 40px;
            width: 50%;
        }

        @media (max-width: 768px) {
            padding: 30px;
            width: 100%;
        }

        @media (max-width: 576px) {
            padding: 20px;
        }
    }

    &__inner {
        margin-bottom: 25px;
        font-size: 18px;

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    &__link {
        padding: 12px 32px 13px;
    }
}

// body.avif .about__img {
//     background-image: url('../images/dist/man.avif');
// }

// body.webp .about__img {
//     background-image: url('../images/dist/man.webp');
// }