.intro {
    position: relative;

    &__images {
        position: absolute;
        width: 1110px;
        height: 1110px;
        top: -10%;
        left: 92%;
        z-index: -1;

        @media (max-width: 1200px) {
            left: inherit;
            right: 90%;
            width: 900px;
            height: 900px;
            top: 0;
        }

        @media (max-width: 992px) {
            width: 695px;
            height: 695px;
            top: 8%;
        }

        @media (max-width: 768px) {
            width: 485px;
            height: 485px;
            top: 20%;
        }

        @media (max-width: 576px) {
            width: 275px;
            height: 275px;
            top: 30%;
        }

        &--decor {
            top: 65%;
            width: 640px;
            height: 575px;
            left: -6%;

            @media (max-width: 1200px) {
                left: inherit;
                right: -29%;
                width: 520px;
                height: 465px;
                top: 32%;
            }

            @media (max-width: 992px) {
                width: 400px;
                height: 360px;
            }

            @media (max-width: 768px) {
                width: 280px;
                height: 250px;
                right: -40%;
            }

            @media (max-width: 576px) {
                width: 160px;
                height: 145px;
                right: -38%;
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;

        @media (max-width: 1200px) {
            justify-content: center;
        }

        @media (max-width: 768px) {
            padding-top: 75px;
            display: flex;
            flex-direction: column;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10px;
        max-width: 66%;

        @media (max-width: 992px) {
            max-width: 540px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            margin-right: 0;
        }
    }

    &__img {
        height: 70vh;
        object-fit: contain;
        transform: rotate(0deg);
        animation-name: my-animation;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__title {
        @include line-height(56, 56, px, );
        margin-bottom: 35px;

        @media (max-width: 1200px) {
            font-size: 49px;
            margin-bottom: 25px;
        }

        @media (max-width: 992px) {
            font-size: 43px;
            margin-bottom: 20px;
        }

        @media (max-width: 768px) {
            font-size: 36px;
        }

        @media (max-width: 576px) {
            font-size: 30px;
        }
    }

    &__text {
        font-size: 18px;
        margin-bottom: 35px;

        @media (max-width: 992px) {
            margin-bottom: 30px;
        }

        @media (max-width: 768px) {
            margin-bottom: 25px;
        }

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    &__text span {
        color: $hover;
    }
}

.intro-form {
    margin-bottom: 20px;
    gap: 30px;
    display: flex;

    @media (max-width: 1200px) {
        gap: 25px;
    }

    @media (max-width: 992px) {
        gap: 20px;
    }

    &__input {
        border-radius: 4px;
        padding: 6px 10px;
        color: $black2;
        font-size: 14px;
        border: none;

        @media (max-width: 992px) {
            padding: 15px;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        @media (max-width: 576px) {}

        &::placeholder {
            color: rgb(118, 118, 118);
        }
    }

    &__link {
        padding: 8px 33px;

        @media (max-width: 992px) {
            display: inline-grid;
            justify-content: center;
            align-items: center;
            padding: 14px;
        }
    }

    &__link span {
        @media (max-width: 992px) {
            display: none;
        }
    }

    &__svg {
        display: none;

        @media (max-width: 992px) {
            display: block;
        }
    }
}