<<<<<<< HEAD
.slider-casey {
    position: relative;

    &__images {
        object-fit: cover;
        position: absolute;
        width: 352px;
        height: 558px;
        top: 0%;
        left: -31%;

        @media (max-width: 1200px) {
            left: -25%;
            width: 285px;
            height: 450px;
        }

        @media (max-width: 992px) {
            width: 220px;
            height: 345px;
            left: -20%;
        }

        @media (max-width: 768px) {
            width: 155px;
            height: 240px;
        }

        @media (max-width: 576px) {
            width: 85px;
            height: 135px;
        }
    }

    &__wrapper {
        max-width: 1110px;
        overflow: hidden;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
    }

    &__items {
        display: flex;
    }

    &__item {
        max-width: 350px;
        margin: 0 auto;

        @media (max-width: 576px) {
            margin-top: 20px;
        }
    }

    &__inner {
        padding: 15px;
        background-color: $black3;

        @media (max-width: 576px) {
            padding: 10px;
        }
    }

    &__img {
        width: 350px;
        height: 230px;
        object-fit: cover;
        vertical-align: top;
    }

    &__subtitle {
        font-size: 23px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__text span {
        font-weight: 600;
        margin-left: 10px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid hsla(0, 0%, 100%, .35);
        border-bottom: 1px solid hsla(0, 0%, 100%, .35);
        padding: 20px 0;

        @media (max-width: 576px) {
            padding: 10px 0;
        }
    }

    &__item {
        margin-bottom: 20px;
    }

    &__first {
        color: $gray;
    }

    &__to {
        color: $orange;
    }

    &__after {
        color: $green;
    }

    &__to span,
    &__after span {
        margin-left: 5px;
    }
}

.swiper-button-next span,
.swiper-button-prev span,
.button-next span,
.button-prev span {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: -25px;
        right: -25px;
        width: 50px;
        height: 50px;
        background-image: url('../images/icons/arrow.svg');
        background-position: center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
    }
}

.button-next {
    right: 0;
    transform: rotate(-90deg);
}

.button-prev {
    left: 0;
    transform: rotate(90deg);
}

.button-next,
.button-prev {
    position: absolute;
    border-radius: 4px;
    background-color: $hover;
    padding: 24px;
    color: $white;
    border-radius: 4px;
    z-index: 10;
    cursor: pointer;
    top: 50%;

    @media (max-width: 576px) {
        top: 0;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity .6s;
        background-image: linear-gradient(204deg, #2fbeff, #1b70b6);
    }

    &:hover {
        opacity: 1;

        &:before {
            opacity: 1;
        }
    }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.button-next:after,
.rtl .button-prev:after,
.button-prev:after,
.rtl .button-next:after {
    font-size: 20px;
    z-index: 1;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;

}

.swiper-button-next,
.swiper-button-prev {
    border-radius: 4px;
    background-color: $hover;
    padding: 24px;
    color: $white;
    border-radius: 4px;
    top: 54%;

    @media (max-width: 1200px) {
        top: 5%;
    }

    @media (max-width: 992px) {
        top: 20px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity .6s;
        background-image: linear-gradient(204deg, #2fbeff, #1b70b6);
    }

    &:hover {
        opacity: 1;

        &:before {
            opacity: 1;
        }
    }
=======
.slider-casey {
    position: relative;

    &__images {
        object-fit: cover;
        position: absolute;
        width: 352px;
        height: 558px;
        top: 0%;
        left: -31%;

        @media (max-width: 1200px) {
            left: -25%;
            width: 285px;
            height: 450px;
        }

        @media (max-width: 992px) {
            width: 220px;
            height: 345px;
            left: -20%;
        }

        @media (max-width: 768px) {
            width: 155px;
            height: 240px;
        }

        @media (max-width: 576px) {
            width: 85px;
            height: 135px;
        }
    }

    &__wrapper {
        max-width: 1110px;
        overflow: hidden;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
    }

    &__items {
        display: flex;
    }

    &__item {
        max-width: 350px;
        margin: 0 auto;

        @media (max-width: 576px) {
            margin-top: 20px;
        }
    }

    &__inner {
        padding: 15px;
        background-color: $black3;

        @media (max-width: 576px) {
            padding: 10px;
        }
    }

    &__img {
        width: 350px;
        height: 230px;
        object-fit: cover;
        vertical-align: top;
    }

    &__subtitle {
        font-size: 23px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__text span {
        font-weight: 600;
        margin-left: 10px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid hsla(0, 0%, 100%, .35);
        border-bottom: 1px solid hsla(0, 0%, 100%, .35);
        padding: 20px 0;

        @media (max-width: 576px) {
            padding: 10px 0;
        }
    }

    &__item {
        margin-bottom: 20px;
    }

    &__first {
        color: $gray;
    }

    &__to {
        color: $orange;
    }

    &__after {
        color: $green;
    }

    &__to span,
    &__after span {
        margin-left: 5px;
    }
}

.swiper-button-next span,
.swiper-button-prev span,
.button-next span,
.button-prev span {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: -25px;
        right: -25px;
        width: 50px;
        height: 50px;
        background-image: url('../images/icons/arrow.svg');
        background-position: center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
    }
}

.button-next {
    right: 0;
    transform: rotate(-90deg);
}

.button-prev {
    left: 0;
    transform: rotate(90deg);
}

.button-next,
.button-prev {
    position: absolute;
    border-radius: 4px;
    background-color: $hover;
    padding: 24px;
    color: $white;
    border-radius: 4px;
    z-index: 10;
    cursor: pointer;
    top: 50%;

    @media (max-width: 576px) {
        top: 0;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity .6s;
        background-image: linear-gradient(204deg, #2fbeff, #1b70b6);
    }

    &:hover {
        opacity: 1;

        &:before {
            opacity: 1;
        }
    }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.button-next:after,
.rtl .button-prev:after,
.button-prev:after,
.rtl .button-next:after {
    font-size: 20px;
    z-index: 1;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;

}

.swiper-button-next,
.swiper-button-prev {
    border-radius: 4px;
    background-color: $hover;
    padding: 24px;
    color: $white;
    border-radius: 4px;
    top: 54%;

    @media (max-width: 1200px) {
        top: 5%;
    }

    @media (max-width: 992px) {
        top: 20px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity .6s;
        background-image: linear-gradient(204deg, #2fbeff, #1b70b6);
    }

    &:hover {
        opacity: 1;

        &:before {
            opacity: 1;
        }
    }
>>>>>>> 86251bb4e85b1997d959e7a3d724f82f40635fa0
}