.work {
    &__box {
        text-align: center;
    }

    &__text {
        margin-bottom: 35px;
        font-size: 18px;
        text-align: center;

        @media (max-width: 1200px) {
            margin-bottom: 25px;
        }

        @media (max-width: 992px) {
            margin-bottom: 20px;
        }
    }

    &__items {
        gap: 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 40px;

        @media (max-width: 1200px) {
            gap: 20px;
        }

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    &__item {
        border-radius: 8px;
        background-color: $black3;
        padding: 0 10px;
        display: flex;
        align-items: center;
        width: 23%;

        @media (max-width: 1200px) {
            width: 31%;
        }

        @media (max-width: 768px) {
            width: 48%;
        }

        @media (max-width: 576px) {
            width: 100%;
        }
    }

    &__item span {
        opacity: .2;
        font-size: 65px;
        margin-right: 15px;

        @media (max-width: 1200px) {
            font-size: 55px;
        }

        @media (max-width: 992px) {
            font-size: 45px;
        }

        @media (max-width: 768px) {
            font-size: 35px;
        }

        @media (max-width: 576px) {
            font-size: 30px;
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    &__text {
        @include line-height(18, 23, px, );
    }

    &__text span {
        color: $hover;
    }
}